## Data Preprocessing of a Population (Dataset from Kaggle)

### Importing the libraries and the dataset

In [158]:
import warnings
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [159]:
df = pd.read_csv('county_population_by_race.csv')
df.head(5)

,county,total_population_of_one_race,total_population_of_one_race_white_alone,total_population_of_one_race_black_or_african_american_alone,total_population_of_one_race_american_indian_and_alaska_native_alone,total_population_of_one_race_asian_alone,total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone,total_population_of_one_race_some_other_race_alone,total_population_of_two_or_more_races
0,"Autauga County, Alabama","55,648","42,160","11,445",217,881,35,910,"3,157"
1,"Baldwin County, Alabama","216,743","189,399","18,217","1,582","2,067",143,"5,335","15,024"
2,"Barbour County, Alabama","24,523","11,317","11,933",116,117,1,"1,039",700
3,"Bibb County, Alabama","21,534","16,555","4,413",60,32,9,465,759
4,"Blount County, Alabama","55,478","50,663",845,337,178,24,"3,431","3,656"

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3222 entries, 0 to 3221
Data columns (total 9 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   county                                                                         3222 non-null   object
 1   total_population_of_one_race                                                   3222 non-null   object
 2   total_population_of_one_race_white_alone                                       3222 non-null   object
 3   total_population_of_one_race_black_or_african_american_alone                   3222 non-null   object
 4   total_population_of_one_race_american_indian_and_alaska_native_alone           3222 non-null   object
 5   total_population_of_one_race_asian_alone                                       3222 non-null   object
 6   total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone  3222 non-null   object
 7   total_population_of_one_race_some_other_race_alone                             3222 non-null   object
 8   total_population_of_two_or_more_races                                          3222 non-null   object
dtypes: object(9)
memory usage: 113.3+ KB

In [161]:
df.dtypes

county                                                                           object
total_population_of_one_race                                                     object
total_population_of_one_race_white_alone                                         object
total_population_of_one_race_black_or_african_american_alone                     object
total_population_of_one_race_american_indian_and_alaska_native_alone             object
total_population_of_one_race_asian_alone                                         object
total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone    object
total_population_of_one_race_some_other_race_alone                               object
total_population_of_two_or_more_races                                            object
dtype: object

In [162]:
df.shape

(3222, 9)

### Checking the number of duplicate rows in the dataset

In [163]:
dupli_rows = df[df.duplicated()]
print("No. of duplicated rows : ", dupli_rows.shape)

No. of duplicated rows :  (0, 9)

### Command to drop the duplicate rows

In [147]:
df = df.drop_duplicates()
df.shape

(3222, 9)

### Checking if there are any null values present

In [164]:
print(df.isnull().sum())

county                                                                           0
total_population_of_one_race                                                     0
total_population_of_one_race_white_alone                                         0
total_population_of_one_race_black_or_african_american_alone                     0
total_population_of_one_race_american_indian_and_alaska_native_alone             0
total_population_of_one_race_asian_alone                                         0
total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone    0
total_population_of_one_race_some_other_race_alone                               0
total_population_of_two_or_more_races                                            0
dtype: int64

### Renaming the names of the columns

In [165]:
df = df.rename(columns={'total_population_of_one_race': 'One Race', 'total_population_of_one_race_white_alone': 'White races', 
                        'total_population_of_one_race_black_or_african_american_alone': 'Black races',
                       'total_population_of_one_race_american_indian_and_alaska_native_alone': 'Native american',
                       'total_population_of_one_race_asian_alone': 'Asian Races',
                       'total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone': 'Hawaiian races',
                       'total_population_of_one_race_some_other_race_alone': 'other races',
                       'total_population_of_two_or_more_races': 'two or more mixed races'})
df.head(5)

,county,One Race,White races,Black races,Native american,Asian Races,Hawaiian races,other races,two or more mixed races
0,"Autauga County, Alabama","55,648","42,160","11,445",217,881,35,910,"3,157"
1,"Baldwin County, Alabama","216,743","189,399","18,217","1,582","2,067",143,"5,335","15,024"
2,"Barbour County, Alabama","24,523","11,317","11,933",116,117,1,"1,039",700
3,"Bibb County, Alabama","21,534","16,555","4,413",60,32,9,465,759
4,"Blount County, Alabama","55,478","50,663",845,337,178,24,"3,431","3,656"

In [166]:
df['county'].unique()

array(['Autauga County, Alabama', 'Baldwin County, Alabama',
       'Barbour County, Alabama', ..., 'Yabucoa Municipio, Puerto Rico',
       'Yauco Municipio, Puerto Rico', 'United States'], dtype=object)

### Changing the datatypes

In [167]:

# The population should be integer instead of object datatype

#df['One Race'] = [x.replace(',','') for x in df['One Race']]
#df['One Race'] = df['One Race'].astype(float)

df['White races'] = [x.replace(',','') for x in df['White races']]
df['White races'] = df['White races'].astype(float)

df['Black races'] = [x.replace(',','') for x in df['Black races']]
df['Black races'] = df['Black races'].astype(float)

df['Native american'] = [x.replace(',','') for x in df['Native american']]
df['Native american'] = df['Native american'].astype(float)

df['Asian Races'] = [x.replace(',','') for x in df['Asian Races']]
df['Asian Races'] = df['Asian Races'].astype(float)

df['Hawaiian races'] = [x.replace(',','') for x in df['Hawaiian races']]
df['Hawaiian races'] = df['Hawaiian races'].astype(float)

df['other races'] = [x.replace(',','') for x in df['other races']]
df['other races'] = df['other races'].astype(float)

df['two or more mixed races'] = [x.replace(',','') for x in df['two or more mixed races']]
df['two or more mixed races'] = df['two or more mixed races'].astype(float)

In [168]:
df.dtypes

county                      object
One Race                    object
White races                float64
Black races                float64
Native american            float64
Asian Races                float64
Hawaiian races             float64
other races                float64
two or more mixed races    float64
dtype: object

### Data description

In [169]:
df.describe()

,White races,Black races,Native american,Asian Races,Hawaiian races,other races,two or more mixed races
count,3.222000e+03,3.222000e+03,3.222000e+03,3.222000e+03,3222.000000,3.222000e+03,3.222000e+03
mean,1.269755e+05,2.558570e+04,2.319100e+03,1.234516e+04,428.468343,1.758838e+04,2.151883e+04
std,3.600920e+06,7.259532e+05,6.583857e+04,3.529591e+05,12351.096604,4.957550e+05,5.982174e+05
min,2.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,6.000000e+00
25%,7.771250e+03,9.000000e+01,4.800000e+01,3.400000e+01,2.000000,1.350000e+02,5.232500e+02
50%,1.938200e+04,8.425000e+02,1.470000e+02,1.295000e+02,9.000000,5.400000e+02,1.472000e+03
75%,5.252450e+04,5.305500e+03,5.432500e+02,7.912500e+02,37.000000,2.727250e+03,5.524000e+03
max,2.042773e+08,4.110420e+07,3.727135e+06,1.988605e+07,689966.000000,2.791572e+07,3.384894e+07

## Analysing and Visualising the Data

### Checking the Correlation

In [170]:
data_corr = df.corr()
data_corr

,White races,Black races,Native american,Asian Races,Hawaiian races,other races,two or more mixed races
White races,1.000000,0.998575,0.998397,0.995135,0.985380,0.994807,0.998501
Black races,0.998575,1.000000,0.997145,0.994643,0.983296,0.994778,0.997891
Native american,0.998397,0.997145,1.000000,0.995878,0.985065,0.996838,0.998343
Asian Races,0.995135,0.994643,0.995878,1.000000,0.986854,0.997223,0.996560
Hawaiian races,0.985380,0.983296,0.985065,0.986854,1.000000,0.982743,0.985997
other races,0.994807,0.994778,0.996838,0.997223,0.982743,1.000000,0.997657
two or more mixed races,0.998501,0.997891,0.998343,0.996560,0.985997,0.997657,1.000000

In [172]:
df.drop(['White races', 'Black races','Native american','Hawaiian races','other races','two or more mixed races'], axis = 1, inplace = True)
df.head(15)

                      county One Race  Asian Races
0    Autauga County, Alabama   55,648        881.0
1    Baldwin County, Alabama  216,743       2067.0
2    Barbour County, Alabama   24,523        117.0
3       Bibb County, Alabama   21,534         32.0
4     Blount County, Alabama   55,478        178.0
5    Bullock County, Alabama   10,109          9.0
6     Butler County, Alabama   18,464        143.0
7    Calhoun County, Alabama  110,412       1190.0
8   Chambers County, Alabama   33,562        401.0
9   Cherokee County, Alabama   24,051         56.0
10   Chilton County, Alabama   43,011        181.0
11   Choctaw County, Alabama   12,405         22.0
12    Clarke County, Alabama   22,535         94.0
13      Clay County, Alabama   13,641         48.0
14  Cleburne County, Alabama   14,490         21.0